<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKETCH-8I</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./images/etch-icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main-game-styles.css') }}">
    <script src="{{ url_for('static', filename='scripts/drawing.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/download-drawing.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/round-management.js') }}" defer></script>
</head>
<body>
    <div class="game-container">
        <h2 id="title">SKETCH-8I</h2>
        
        <div class="labels-container">
            <div class="left-labels">
                <label id="word-label">Word: {{ word if word else "No word found." }}</label>
                <label id="context-label">Context: {{ context if context else  "No context available." }}</label>
            </div>
            <div class="right-labels">
                <label id="round-label">R:1</label>
                <label id="score-label">S:0</label>
            </div>
        </div>

        <div id="squareContainer" draggable="false">
            <!-- 30x30 divs created in JS -->
        </div>
        <canvas id="drawingCanvas" width="300" height="300" style="display: none;"></canvas>

        <div class="settings-buttons">
            <button id="erasebtn" class="erase-button">Erase</button>
            <button id="clearbtn" class="clear-button">Clear</button>
        </div>

        <button class="finish-button">SUBMIT</button>

        <div class="feedback-container">
            <label id="feedback-label"></label>
        </div>

        <div class="next-round-container">
            <button class="next-round-button">Next Round</button>
        </div>
    </div>
</body>
</html>