<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmARTProf - Select Language</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/select-language-styles.css') }}">
</head>
<body>
    <div class="language-container">
        <h2>Select a Language</h2>
        <div class="button-row">
            <a href="{{ url_for('main_game', language='romanian') }}" class="language-link">
                <img src="{{ url_for('static', filename='res/flags/romania-flag.png') }}" alt="Romanian" class="flag-icon">
            </a>

            <a href="{{ url_for('main_game', language='spanish') }}" class="language-link">
                <img src="{{ url_for('static', filename='res/flags/spain-flag.png') }}" alt="Spanish" class="flag-icon">
            </a>

            <a href="{{ url_for('main_game', language='french') }}" class="language-link">
                <img src="{{ url_for('static', filename='res/flags/france-flag.png') }}" alt="French" class="flag-icon">
            </a>

            <a href="{{ url_for('main_game', language='italian') }}" class="language-link">
                <img src="{{ url_for('static', filename='res/flags/italy-flag.png') }}" alt="Italian" class="flag-icon">
            </a>
        </div>
    </div>
</body>
</html>
