body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0B192C;
    margin: 0;
}

.login-container {
    background-color: #1E3E62;;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    box-sizing: border-box;
}

input {
    width: calc(100% - 20px); /* Subtract padding to ensure full width */
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #FF6500;
    border-radius: 4px;
    box-sizing: border-box; /* Prevent padding from affecting width */
    color: #0B192C;
}

.login-page-buttons, .register-page-buttons {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
}

#login-button {
    background-color: #FF6500;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

#login-button:hover {
    background-color: #e55c00; /* Darker orange on hover */
}

#create-acc-button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    background-color: transparent;
    color: #FF6500;
    border: 1px solid #FF6500;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Hover effects for the create account link */
#create-acc-button:hover {
    background-color: #FF6500; /* Change background on hover */
    color: white; /* Change text color on hover */
}