body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0B192C;
    margin: 0;
}

.register-container {
    background-color: #1E3E62;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    box-sizing: border-box;
}

input {
    width: calc(100% - 20px); /* Subtract padding to ensure full width */
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #FF6500;
    border-radius: 4px;
    background-color: #fff;
    color: #0B192C;
    box-sizing: border-box; /* Prevent padding from affecting width */
    font-family: 'Press Start 2P', cursive;
}

input::placeholder {
    color: #FF6500; /* Change placeholder text color */
    opacity: 0.7; /* Slightly transparent for a softer look */
}

.register-page-buttons {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

#register-button {
    background-color: #FF6500;
    color: white;
    border: none;
    transition: background-color 0.3s;
}
