body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.language-container {
    text-align: center;
    padding: 20px;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    flex-wrap: wrap; /* Allows wrapping if the screen is small */
}

.language-btn {
    /* background-color: #4CAF50; */
    /* color: white; */
    border: none;
    /* border-radius: 4px; */
    /* padding: 10px 15px; */
    cursor: pointer;
    display: flex;
    align-items: center;
}

.language-btn:hover {
    /* background-color: #45a049; */
    width: 220px;
}

.flag-icon {
    width: 200px; /* Adjust the width of the flag icon */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Space between icon and text */
    border-radius: 10px; /* Add rounded corners */
}